<html>
<head>
	<title>NodeJS Web App Example</title>
	<link rel="stylesheet" type='text/css' href="css/header.css" />
</head>
<body>
	<header>
		<div class='left'>
			<img src='img/WAE.png' alt='project logo' />
		</div>
		<div class='central'> 
			Web App Main Page
		 </div>
		<div class='right'> Menu</div>
	</header>

	{{{body}}}
<footer>
Copyright &copy; {{copyrightYear}}
</footer>
	<script type='text/javascript' src='js/jquery.js'></script>
	<script type='text/javascript' src='js/WebApp.js'></script>
</body>
</html>
