<html>
<head>
	<title>NodeJS Web App Example</title>
	<link rel="stylesheet" type='text/css' href="css/header.css" />
</head>
<body>
	<header>
		<span>
			<img src='img/WAE.png' width=64 height=48 alt='project logo' />
		</span>
		<span> Web App Main Page </span>
		<span> Menu</span>
	</header>

	{{{body}}}
</body>
</html>
