<div>
<div class='leftSide'>
   <button type='button' id='statsButton' name='statsButton' > Run Stats </button>
   <hr>
   <table id='statsTable'>
      <tr> <th>Earliest Date</th>  <td id='earliestDate'></td> </tr>
      <tr> <th>Latest Date</th>    <td id='latestDate'></td> </tr>
      <tr> <th>Total Records</th>  <td id='totalRecords'></td> </tr>
      <tr> <th>Total Spent</th>    <td id='totalSpent'></td> </tr>
      <tr> <th>Total Stores</th>   <td id='totalStores'></td> </tr>
   </table>
</div>
<div class='rightSide'>
   <button type='button' id='dataButton' name='dataButton' > Gather Data </button>
   <label for='fromDate'>From</label>
   <input type='text' id='fromDate' name='fromDate' width=6></input>
   <label for='toDate'>To</label>
   <input type='text' id='toDate' name='toDate' width=6></input>
   <hr>
   <table id='itemsTable' class='fancyTable tableClass'>
      <thead>
         <tr>
            <th>Date</th>
            <th>Store</th>
            <th>Item</th>
            <th>Price</th>
         </tr>
      </thead>
      <tbody id='itemsTBody'>
      </tbody>
   </table>
   
</div>
</div>
