<div>
<div class='leftSide'>
   <button type='button' id='statsButton' name='statsButton' > Run Stats </button>
   <hr>
   <table id='statsTable'>
      <tr> <th>Earliest Date</th>  <td id='earliestDate'></td> </tr>
      <tr> <th>Latest Date</th>    <td id='latestDate'></td> </tr>
      <tr> <th>Total Records</th>  <td id='totalRecords'></td> </tr>
      <tr> <th>Total Spent</th>    <td id='totalSpent'></td> </tr>
      <tr> <th>Total Stores</th>   <td id='totalStores'></td> </tr>
   </table>
</div>
<div class='rightSide'>
   <button type='button' id='dataButton' name='dataButton' > Gather Data </button>
   <hr>
</div>
</div>
